/* MAIN FONT */
/* font-family: 'Nunito', sans-serif; */

/* HEADING FONT */
/* font-family: 'Comfortaa', cursive */

/* HEADING FONT */
/* font-family: 'Josefin Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #263238;
}

li {
    list-style: none;
}

body {
    font-family: "Nunito", sans-serif;
    color: #263238;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.cta {
    padding: 8px 14px;
    background-color: rgb(255, 42, 42);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    letter-spacing: 1.2px;
    cursor: pointer;
    transition: all 0.5s;
    outline: none;
}

.cta:hover,
.cta:focus {
    background-color: rgb(255, 110, 110);
    color: black;
}
