@media (min-width: 768px) {
    .container {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: auto 50%;
        grid-template-rows: 300px 300px;
    }

    .box-one {
        grid-row: 1 / 3;
        border: 2px solid rgb(221, 221, 221);
        border-radius: 7px;
    }

  
}

@media (min-width: 1024px) {
   
}
